@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  /* background-color: #805e4a88; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.maxHeight {
  max-height: 100vh;
}

.maxWidth {
  max-width: 100vw;
}

.homeCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}

.cartDiv {
  width: 60vw;
}

@media (max-width: 900px) {
  .cartDiv {
    width: 100vw;
  }
}

.cartTotalDiv {
  margin-top: 15vh;
  margin-left: 5vw;
}

.cartTotalDivNone {
  display: none;
}

@media (max-width: 900px) {
  .cartTotalDiv {
    display: none;
  }
  .cartTotalDivNone {
    display: flex;
    width: 70vw;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.carrApear {
  display: flex;
}

@media screen and (max-width: 780px) {
  .carrApear {
    display: none;
  }
}